* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* set background color */
body {
 background: linear-gradient(to bottom, #ffffff, #c2c2c2);
 
}

form{
   width: 500px;
   height: 500px;
   margin: auto;
   margin-top: 20px;
   font-size: larger;
   background-color: blanchedalmond;
   margin-bottom: 20px;
   background: linear-gradient(to bottom, #c2c2c2, #ffffff);
   border-radius: 5px;
}

h2{
  margin-top: 20px;
  text-align: center;
}




